{% extends 'layout.twig' %}

{% block title %}Make a new incident{% endblock %}

{% block content %}
    {% include 'adminHeader.twig' %}

        <div id="content_wrapper">
            <div class="container">
                <div class="row">
                    <div class="list_content index-top" id="groupbox_reports">
                        <div class="groupbox_heading">
                            Reports
                            <p style="margin-right:6px" class="right">Status</p>
                        </div>
                        <div class="groupbox_wrapper">
                            <div class="accordion" id="accordion2">
                                {% include 'addRemoveReportList.twig' %}
                            </div>
                        </div>
                        <div class="list_content_menu">

                        </div>
                    </div>

                    <div class="list_content index-top" id="groupbox_details">
                        <div class="groupbox_heading">
                            Add/remove connected reports
                        </div>

                        <form name="addRemoveForm" action="" id="addRemoveForm" method="post">
                            <div class="groupbox_wrapper" id="groupbox_content">
                                <div>
                                    <fieldset>
                                        <p><strong>Incident title: </strong>{{ incident['title'] }}</p>
                                        <p><strong>Incident Id: </strong>{{ incident['id'] }}</p>
                                        <br>
                                    </fieldset>
                                    <fieldset>
                                        <h4>Included reports:</h4>
                                        {% if conRepList is defined %}
                                            {% set list = null %}
                                            {% for report in conRepList %}
                                                {% set list = list ~ '#' ~ report ~ ' ' %}
                                            {% endfor %}
                                            <table border="0">
                                                <tr>
                                                    <span id='selectedReports'>{{ list }}</span><br /><br />
                                                </tr>
                                            </table>
                                        {% else %}
                                            <table border="0">
                                                <tr>
                                                    <span id='selectedReports'>Click reports to include them</span><br /><br />
                                                </tr>
                                            </table>
                                        {% endif %}
                                </div>
                            </div>
                            <div class="list_content_menu">
                                <a href="{{ app.url_generator.generate('manage') }}" class="btn btn-danger" id="cancelBtn" style="float:left">Go back</a>
                                <input type="submit" class="btn btn-primary" value="Save" id="submitBtn" style="float:right" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            $(document).ready(function () {
                $("#submitBtn").on("click", function(event) {
                    event.preventDefault();
                    var oldList = {{ conRepList|json_encode() }};
                    var newList = selectedReports;
                    var incidentId = {{ incident['id'] }};

                    console.log(oldList);
                    console.log(newList);
                    console.log(incidentId);

                    $.post('../ajax/modifyReportConnectedToIncident', { 'oldList': oldList, 'newList': newList, 'incidentId': incidentId }, function() {
                        location.reload();
                    });
                });

                // Selectable
                var selectedReports = [];
                $(function() {
                    $(".selectable").bind("mousedown", function(event) {
                        event.metaKey = true;
                    }).selectable({
                        tolerance: 'fit',
                        stop: function() {
                            var result = $( "#selectedReports" ).empty();
                            selectedReports.length = 0;
                            var i = 0;
                            $(".ui-selected", $("#accordion2")).each(function() {
                                var itemId = $(this).attr('id');
                                var item = itemId.replace("report_", "");
                                selectedReports[i] = item;
                                i++;
                            });
                            for (var i=0;i<selectedReports.length;i++) {
                                result.append( "#" + selectedReports[i] + " " );
                            }
                        }
                    });
                })

            });

        </script>


{% endblock %}