{% extends 'layout.twig' %}

{% block title %}Make a new incident{% endblock %}

{% block content %}
    {% include 'adminHeader.twig' %}

        <div id="content_wrapper">
            <div class="container">
                <div class="row">
                    <div class="list_content index-top" id="groupbox_reports">
                        <div class="groupbox_heading">
                            Reports
                            <p style="margin-right:6px" class="right">Status</p>
                        </div>
                        <div class="groupbox_wrapper">
                            <div class="accordion" id="accordion2">
                                {% include 'addRemoveReportList.twig' %}
                            </div>
                        </div>
                        <div class="list_content_menu">

                        </div>
                    </div>

                    <div class="list_content index-top" id="groupbox_details">
                        <div class="groupbox_heading">
                            Add/remove connected reports
                        </div>

                        <form name="addRemoveForm" action="" id="addRemoveForm" method="post">
                            <div class="groupbox_wrapper" id="groupbox_content">
                                <div>
                                    <fieldset>
                                        <p><strong>Incident title: </strong>{{ incident['title'] }}</p>
                                        <p><strong>Incident Id: </strong>{{ incident['id'] }}</p>
                                        <br>
                                    </fieldset>
                                    <fieldset>
                                        <h4>Included reports:</h4>
                                        {% if conRepList is defined %}
                                            <table class="table table-striped table-condensed">
                                                {% set list = null %}
                                                <tbody id="selectedReports">
                                                    {% for report in conRepList %}
                                                        <tr>
                                                            <td># {{ report }}</td>
                                                            <td>
                                                                {% if incident['connectedReports'][report] == 'WARNING' %}
                                                                    <span class="label label-warning">{{ incident['connectedReports'][report] }}</span>
                                                                {% elseif incident['connectedReports'][report] == 'CRITICAL' %}
                                                                    <span class="label label-important">{{ incident['connectedReports'][report] }}</span>
                                                                {% elseif incident['connectedReports'][report] == 'RESPONDING' %}
                                                                    <span class="label label-success">{{ incident['connectedReports'][report] }}</span>
                                                                {% elseif incident['connectedReports'][report] == 'RESOLVED' %}
                                                                    <span class="label label-success">{{ incident['connectedReports'][report] }}</span>
                                                                {% else %}
                                                                    <span class="label label-inverse">{{ incident['connectedReports'][report] }}</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                <thead>
                                                    <tr>
                                                        <th>ReportID</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        {% else %}
                                            <table border="0">
                                                <tr>
                                                    <span id='selectedReports'>Click reports to include them</span><br /><br />
                                                </tr>
                                            </table>
                                        {% endif %}
                                </div>
                            </div>
                            <div class="list_content_menu">
                                <a href="{{ app.url_generator.generate('manage') }}" class="btn btn-danger" id="cancelBtn" style="float:left">Go back</a>
                                <input type="submit" class="btn btn-primary" data-loading-text="Saving..." value="Save" id="submitBtn" style="float:right" />
                            </div>
                            <input type="hidden" name="statusList" id="statusList" value="{{ statusList|json_encode() }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            $(document).ready(function () {
                $("#submitBtn").on("click", function(event) {
                    event.preventDefault();
                    var oldList = {{ conRepList|json_encode() }};
                    var newList = selectedReports;
                    var incidentId = {{ incident['id'] }};

                    console.log(oldList);
                    console.log(newList);
                    console.log(incidentId);

                    $.post('../ajax/modifyReportConnectedToIncident', { 'oldList': oldList, 'newList': newList, 'incidentId': incidentId }, function() {
                        location.assign("../manage");
                    });
                });

                // Selectable
                var selectedReports = [];
                $(function() {
                    $(".selectable").bind("mousedown", function(event) {
                        event.metaKey = true;
                        
                    }).selectable({
                        stop: function() {
                            var result = $( "#selectedReports" ).empty();
                            selectedReports.length = 0;
                            var i = 0;
                            $(".ui-selected", $("#accordion2")).each(function() {
                                var itemId = $(this).attr('id');
                                var item = itemId.replace("report_", "");
                                selectedReports[i] = item;
                                i++;
                            });
                            for (var i=0;i<selectedReports.length;i++) {
                                var statusList = $("#statusList").val();
                                statusList = $.parseJSON(statusList);
                                if (statusList[selectedReports[i]] == 'WARNING') {
                                    result.append( "<tr><td>" + selectedReports[i] + "</td><td><span class='label label-warning'>" + statusList[selectedReports[i]] + "</span></td></tr>");
                                } else if (statusList[selectedReports[i]] == 'CRITICAL') {
                                    result.append( "<tr><td>" + selectedReports[i] + "</td><td><span class='label label-important'>" + statusList[selectedReports[i]] + "</span></td></tr>");
                                } else if (statusList[selectedReports[i]] == 'RESOLVED') {
                                    result.append( "<tr><td>" + selectedReports[i] + "</td><td><span class='label label-success'>" + statusList[selectedReports[i]] + "</span></td></tr>");
                                } else if (statusList[selectedReports[i]] == 'RESPONDING') {
                                    result.append( "<tr><td>" + selectedReports[i] + "</td><td><span class='label label-success'>" + statusList[selectedReports[i]] + "</span></td></tr>");
                                } else {
                                    result.append( "<tr><td>" + selectedReports[i] + "</td><td><span class='label label-inverse'>" + statusList[selectedReports[i]] + "</span></td></tr>");
                                }
                            }
                        }
                    });
                })

            });

        </script>


{% endblock %}