{% if not currentIncidents %}
    <div id="current_box" class="no_issues">
        <p class='all-clear'>No current issues.</p>
    </div>
{% else %}
    <div id="current_box" class="error">
        <div class='accordion' id='accordion2'>

            {% for incident in currentIncidents %}

                <div class='accordion-group'>
                    <div class='accordion-heading'>
                        <a class='accordion-toggle' data-toggle='collapse' data-parent='#accordion2' href='#collapse{{ incident['id'] }}'>
                        #{{ incident['id'] }} : {{ incident['title'] }}
                        </a>
                    </div>

                    <div id='collapse{{ incident['id'] }}' class='accordion-body collapse'>
                        <div class='accordion-inner'>
                            <table border='0' class='current_box_table'>
                                <tr>
                                    <td class='left'>Incident #{{ incident['id'] }}</td>
                                </tr>

                                <tr>
                                    <td class='left'>{{ incident['title'] }}</td>
                                </tr>

                                <tr>
                                    <td colspan='2'><hr /></td>
                                </tr>

                                <tr>
                                    <td class='left'><strong>Created on:</strong></td>
                                    <td class='right'>{{ incident['createdTimestamp'] }}</td>
                                </tr>

                                <tr>
                                    <td colspan='2'><hr /></td>
                                </tr>

                                <tr>
                                    <td class='left'><strong>Last update:</strong></td>
                                    <td class='right'>{{ incident['lastMessageTimestamp'] }}</td>
                                </tr>
                                <tr>
                                    <td colspan='2'><hr /></td>
                                </tr>

                                <tr>
                                    <td class='left'>{{ incident['lastMessageText'] }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}