{% if not currentIncidents %}
    <div id="current_box" class="no_issues">
        <p class='all-clear'>No current issues.</p>
    </div>
{% else %}
    <div id="current_box" class="error">
        <div class='accordion' id='accordion2'>

            {% for incident in currentIncidents %}

                {% if incident['lastStatus'] == 'CRITICAL' %}
                    {% set labelStatus = '<span class="label label-important right"> CRITICAL </span>' %}
                {% elseif incident['lastStatus'] == 'WARNING' %}
                    {% set labelStatus = '<span class="label label-warning right"> WARNING </span>' %}
                {% elseif incident['lastStatus'] == 'RESPONDING' %}
                    {% set labelStatus = '<span class="label label-success right"> RESPONDING </span>' %}
                {% elseif incident['lastStatus'] == 'RESOLVED' %}
                    {% set labelStatus = '<span class="label label-success right"> RESOLVED </span>' %}
                {% else %}
                    {% set labelStatus = '<span class="label label-info right"> UNKNOWN </span>' %}
                {% endif %}

                <div class='accordion-group'>
                    <div class='accordion-heading'>
                        {% set accordionHeader = '#' ~ incident["id"] ~ ' - ' %}
                        {% set accordionHeader = accordionHeader ~ incident["createdTimestamp"]|slice(0,10) ~ ': ' %}
                        {% if incident['title']|length > 15 %}
                            {% set accordionHeader = accordionHeader ~ incident["title"]|slice(0,15) ~ ' <small>[...]</small>' %}
                        {% else %}
                            {% set accordionHeader = accordionHeader ~ incident["title"] %}
                        {% endif %}
                        {% set accordionHeader = accordionHeader ~  labelStatus|raw %}

                        <a class='accordion-toggle' data-toggle='collapse' title="{{ incident['title'] }}" data-parent='#accordion2' href='#collapse{{ incident['id'] }}'>
                            {{ accordionHeader|raw }}
                        </a>
                    </div>

                    <div id='collapse{{ incident['id'] }}' class='accordion-body collapse'>
                        <div class='accordion-inner'>
                            <table border='0' class='current_box_table'>
                                <tr>
                                    <td class='left'>Incident #{{ incident['id'] }}</td>
                                </tr>

                                <tr>
                                    <td class='left'>{{ incident['title'] }}</td>
                                </tr>

                                <tr>
                                    <td colspan='2'><hr /></td>
                                </tr>

                                <tr>
                                    <td class='left'><strong>Created on:</strong></td>
                                    <td class='right'>{{ incident['createdTimestamp'] }}</td>
                                </tr>

                                <tr>
                                    <td colspan='2'><hr /></td>
                                </tr>

                                <tr>
                                    <td class='left'><strong>Last update:</strong></td>
                                    <td class='right'>{{ incident['lastMessageTimestamp'] }}</td>
                                </tr>
                                <tr>
                                    <td colspan='2'><hr /></td>
                                </tr>

                                <tr>
                                    <td class='left'>{{ incident['lastMessageText'] }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}