<h5>Title: </h5>
{{ incident["title"] }} <a href="#editTitle" role="button" class="btn-small btn-warning" data-toggle="modal">Edit title <i class="icon-pencil icon-white"></i></a>
<p></p><strong>Incident ID:</strong> {{ incident["id"] }}</p>
<p><strong>Created on:</strong> {{ incident["createdTimestamp"]|date("d.M Y H:i") }}</p>
<p><strong>Current Status:</strong> {{ incident["lastStatus"] }}</p>
<hr />

<h6>Connected Reports:</h6>
<ul>
    {% for report, status in incident["connectedReports"] %}
        {% if status == 'WARNING' %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-warning">{{ status }}</span></li>
        {% elseif status == 'CRITICAL' %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-important">{{ status }}</span></li>
        {% else %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-success">{{ status }}</span></li>
        {% endif %}
    {% endfor %}
</ul>

<hr>


<a href="#newMessage" role="button" class="btn btn-info" data-toggle="modal">New message <i class="icon-plus-sign icon-white"></i></a>
<a href="#" id="editMessage" role="button" class="btn btn-info">Edit a message <i class="icon-pencil icon-white"></i></a>
<a href="{{ app.url_generator.generate('addRemoveReports', { 'incidentId': incident['id'] }) }}" class="btn btn-info">Add/remove connected reports <i class='icon-pencil icon-white'></i></a>

{% include 'editTitle.twig' %}
{% include 'newMessage.twig' %}


<script type="text/javascript">

    // Listener for editMessage button
    $("#editMessage").click(function(event) {
        $("#incidentPane").css("opacity", "0");
        $("#incidentPane").load("ajax/editMessage", {"incident": incident}, function(response, status, xhr) {
            if (status == "error") {
                var msg = "Error: ";
                $("#incidentPane").html(msg + xhr.status + " " + xhr.statusText);
            }
            else {
                $("#incidentPane").fadeTo("normal",1);
            }
        });
        event.preventDefault();
    });
</script>