<h6>Incident ID: {{ incident["id"] }}</h6>
<p>Created on: {{ incident["createdTimestamp"] }}</p>
<p>Current Status: {{ incident["lastStatus"] }}</p>
<hr />

<h6>Connected Reports:</h6>
<ul>
    {% for report, status in incident["connectedReports"] %}
        {% if status == 'WARNING' %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-warning">{{ status }}</span></li>
        {% elseif status == 'CRITICAL' %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-important">{{ status }}</span></li>
        {% else %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-success">{{ status }}</span></li>
        {% endif %}
    {% endfor %}
</ul>

<hr>


<a href="#newMessage" role="button" class="btn btn-info" data-toggle="modal">New message</a>
<a href="#editMessage" role="button" class="btn btn-info" data-toggle="modal">Edit a message</a>
<a href="#" role="button" class="btn btn-info" data-toggle="modal">Manage connected reports</a>

{% include 'newMessage.twig' %}