<ul>
    {% if showHidden == 'true' %}
        {% for incident in incidentList %}
            <li class='incident file' id='incident_{{ incident["id"] }}'>Incident {{ incident["id"] }} - {{ incident["createdTimestamp"] }} - {{ incident["title"] }}</li>
        {% endfor %}
    {% else %}
        {% for incident in incidentList %}
            {% if incident['hidden'] == false %}
                <li class='incident file' id='incident_{{ incident["id"] }}'>Incident {{ incident["id"] }} - {{ incident["createdTimestamp"] }} - {{ incident["title"] }}</li>
            {% endif %}
        {% endfor %}
    {% endif %}

    <script>$(".incident").on("click", function clickIncident() {
            var incidentId = $(this).attr("id");
            incident = incidentId.replace("incident_", "");
            $("#reportPane").css("opacity", "0");
            $("#reportPane").load("ajax/viewIncident", {"incident": incident}, function(response, status, xhr) {
                if (status == "error") {
                    var msg = "Error: ";
                    $("#reportPane").html(msg + xhr.status + " " + xhr.statusText);
                }
                else {
                    $("#reportPane").fadeTo("normal",1);
                }
            });
            $('#newMessage').show();
        });</script>

</ul>