{% if showHidden == 'true' %}
    {% for incident in incidentList %}

        {% set criticalsExist = 0 %}
        {% set warningsExist = 0 %}

        {% for report in incident["connectedReports"] %}
            {% if report == "WARNING" %}
                {% set warningsExist = 1 %}
            {% elseif report == "CRITICAL" %}
                {% set criticalsExist = 1 %}
            {% endif %}
        {% endfor %}

        {% if incident["lastStatus"] == "CRITICAL" %}
            {% set titleImage = "../img/cross.png" %}
        {% elseif incident["lastStatus"] == "WARNING" %}
            {% set titleImage = "../img/warning.png" %}
        {% else %}
            {% set titleImage = "../img/check.png" %}
        {% endif %}

        {% if warningsExist == 0 and criticalsExist == 0 %}
            {% set titleErrorString = "All responding" %}
        {% elseif incident['connectedReports']|length > 1 %}
            {% set titleErrorString = incident['connectedReports']|length ~ " reports" %}
        {% else %}
            {% set titleErrorString = "1 report" %}
        {% endif %}

        <div class="incident file" id='incident_{{ incident["id"] }}'>
            <a href="#">{{ incident['createdTimestamp']|slice(0,10) }}: {{ incident["title"] }} <span class="label label-info">{{ titleErrorString }}</span> <img class='right' src='{{ titleImage }}' /> </a>
        </div>
    {% endfor %}
{% else %}
    {% for incident in incidentList %}
        {% if incident['hidden'] == false %}

            {% set criticalsExist = 0 %}
            {% set warningsExist = 0 %}

            {% for report in incident["connectedReports"] %}
                {% if report == "WARNING" %}
                    {% set warningsExist = 1 %}
                {% elseif report == "CRITICAL" %}
                    {% set criticalsExist = 1 %}
                {% endif %}
            {% endfor %}

            {% if incident["lastStatus"] == "CRITICAL" %}
                {% set titleImage = "../img/cross.png" %}
            {% elseif incident["lastStatus"] == "WARNING" %}
                {% set titleImage = "../img/warning.png" %}
            {% else %}
                {% set titleImage = "../img/check.png" %}
            {% endif %}

            {% if warningsExist == 0 and criticalsExist == 0 %}
                {% set titleErrorString = "All responding" %}
            {% elseif incident['connectedReports']|length > 1 %}
                {% set titleErrorString = incident['connectedReports']|length ~ " reports" %}
            {% else %}
                {% set titleErrorString = "1 report" %}
            {% endif %}

            <div class="incident file" id='incident_{{ incident["id"] }}'>
                <a href="#" >{{ incident['createdTimestamp']|slice(0,10) }}: {{ incident["title"] }} <span class="label label-info">{{ titleErrorString }}</span> <img class='right' src='{{ titleImage }}' /> </a>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% include 'viewIncidentScript.twig' %}