<div class="front_messagebox">
    {% if not realTime %}
        Could not connect to live
    {% else %}
        <ol class="tree">
            {% for serviceGroupName, serviceGroup in realTime %}
                <li>
                    {% if (serviceGroup['groupState'] == 'up') %}
                        <label for='{{ serviceGroupName }}'>
                            <strong>{{ serviceGroupName }}</strong>
                            <span class="pull-right"><img src='../img/check.png' alt='OK'/> <strong>OK</strong></span>
                        </label>
                        <input type='checkbox' id='{{ serviceGroupName }}' />
                    {% elseif (serviceGroup['groupState']) == 'warning' %}
                        <label for='{{ serviceGroupName }}'>
                            <strong>{{ serviceGroupName }}</strong>
                            <span class="pull-right"><img src='../img/warning.png' alt='WARNING'/> <strong>Problem</strong></span>
                        </label>
                        <input type='checkbox' checked id='{{ serviceGroupName }}' />
                    {% else %}
                        <label for='{{ serviceGroupName }}'>
                            <strong>{{ serviceGroupName }}</strong>
                            <span class="pull-right"><img src='../img/cross.png' alt='ERROR'/> <strong>Down</strong></span>
                        </label>
                        <input type='checkbox' checked id='{{ serviceGroupName }}' />
                    {% endif %}

                    <ol>
                        {% for service, state in serviceGroup if service != 'groupState' %}
                            <li class="file">
                                {{ service }}
                                {% if state == 'up' %}
                                    <span class="pull-right"><img src='../img/check.png' alt='OK'/> OK</span>
                                {% elseif state == 'warning' %}
                                    <span class="pull-right"><img src='../img/warning.png' alt='ERROR'/> Problem</span>
                                {% else %}
                                    <span class="pull-right"><img src='../img/cross.png' alt='ERROR'/> Down</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
</div>