{% set criticalsExist = 0 %}
{% set warningsExist = 0 %}
{% set collapseOrder = 1 %}

{% for group, reports in currentReports %}

    {% for report in reports %}
        {% if report["flag"] == "WARNING" %}
            {% set warningsExist = 1 %}
        {% elseif report["flag"] == "CRITICAL" %}
            {% set criticalsExist = 1 %}
        {% endif %}
    {% endfor %}

    {% if criticalsExist == 1 %}
        {% set titleImage = "../img/cross.png" %}
    {% elseif warningsExist == 1 %}
        {% set titleImage = "../img/warning.png" %}
    {% else %}
        {% set titleImage = "../img/check.png" %}
    {% endif %}

    {% if warningsExist == 0 and criticalsExist == 0 %}
        {% set titleErrorString = "All responding" %}
    {% elseif reports|length > 1 %}
        {% set titleErrorString = reports|length ~ " reports" %}
    {% else %}
        {% set titleErrorString = "1 report" %}
    {% endif %}

    {% set criticalsExist = 0 %}
    {% set warningsExist = 0 %}

    <div class='accordion-group'>
        <div class='accordion-heading'>
            <a class='accordion-toggle collapsed' data-toggle='collapse' href='#{{ collapseOrder }}'>{{ group }} <span class="label label-info">{{ titleErrorString }}</span><img class='right' src='{{ titleImage }}' /></a>
        </div>
        <div id='{{ collapseOrder }}' class='accordion-body collapse'>
            <div class='accordion-inner'>
                <ol class='selectable'>
                    {% for report in reports %}
                    <li class='report file ui-widget-content' id='report_{{ report["id"] }}'>
                        Error #{{ report["id"] }} - {{ report["flag"]|capitalize }}
                        <p class='tinytext'><strong>Check Type:</strong> {{ report["checkType"]|capitalize }}</p>
                        <p class='tinytext'><strong>Created timestamp:</strong> {{ report["createdTimestamp"]|date("d.M Y H:i") }}</p>
                        <p class='tinytext'><strong>Last updated timestamp:</strong> {{ report["lastUpdatedTimestamp"]|date("d.M Y H:i") }}</p>
                        <p class='tinytext'><strong>Error Message:</strong> {{ report["errorMessage"] }}</p>
                        <p class='tinytext'><strong>Source:</strong> {{ report["source"]|capitalize }}</p>
                        <p class='tinytext'><strong>Host:</strong> {{ report["host"] }}</p>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    {% set collapseOrder = collapseOrder + 1 %}

{% endfor %}