{% for incident in incidentData %}

    <h5>Incident ID: {{ incident["id"] }}</h5>
    <h5>Created on: {{ incident["createdTimestamp"]|date("d.M y H:i") }}</h5>
    <h5>Incident title:</h5>
    <p>{{ incident["title"] }}</p>
    {% if incident["lastStatus"] == 'WARNING' %}
        <p><strong>Current incident status:</strong> <span class="label label-warning">{{ incident["lastStatus"] }}</span></p>
    {% elseif incident["lastStatus"] == 'CRITICAL' %}
        <p><strong>Current incident status:</strong> <span class="label label-important">{{ incident["lastStatus"] }}</span></p>
    {% elseif incident["lastStatus"] == 'INTERNAL' or incident["lastStatus"] == 'IGNORED' %}
        <p><strong>Current incident status:</strong> <span class="label label-info">{{ incident["lastStatus"] }}</span></p>
    {% else %}
        <p><strong>Current incident status:</strong> <span class="label label-success">{{ incident["lastStatus"] }}</span></p>
    {% endif %}
    {% if incident['hidden'] %}
        <p><strong>Currently hidden:</strong> True</p>
    {% else %}
        <p><strong>Currently hidden:</strong> False</p>
    {% endif %}
    <hr />

    <h6>Connected Reports:</h6>
    <ul>
    {% for report, status in incident["connectedReports"] %}
        {% if status == 'WARNING' %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-warning">{{ status }}</span></li>
        {% elseif status == 'CRITICAL' %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-important">{{ status }}</span></li>
        {% else %}
            <li style="margin-top: 0px;margin-bottom: 0px;"># {{ report }} - <span class="label label-success">{{ status }}</span></li>
        {% endif %}
    {% endfor %}
    </ul>
    <hr />

    <h6>Previous updates: </h6>
    {% for message in incident["messageHistory"]|reverse %}
        <div class="well">
            <h5>Date: {{ message["messageTimestamp"] }}</h5>
            {% if message["messageStatus"] == 'WARNING' %}
                <p>Status: <span class="label label-warning">{{ message["messageStatus"] }}</span></p>
            {% elseif message["messageStatus"] == 'CRITICAL' %}
                <p>Status: <span class="label label-important">{{ message["messageStatus"] }}</span></p>
            {% elseif message["messageStatus"] == "RESPONDING" or message["messageStatus"] == "RESOLVED" %}
                <p>Status: <span class="label label-success">{{ message["messageStatus"] }}</span></p>
            {% else %}
                <p>Status: <span class="label label-info">{{ message["messageStatus"] }}</span></p>
            {% endif %}
            <p>Author: {{ message["messageAuthor"] }}</p>
            <p>Message: {{ message["messageText"]|nl2br }}</p>
            {% if message['hidden'] %}
                <p>Hidden: True</p>
            {% else %}
                <p>Hidden: False</p>
            {% endif %}
        </div>
    {% endfor %}

{% endfor %}