<h6>Report ID: {{ report['id'] }}</h6>
<p>Created: {{ report['createdTimestamp']|date("d.M y H:i:s") }}</p>
<p>Last updated: {{ report['lastUpdatedTimestamp']|date("d.M y H:i:s") }}</p>
<p>Check type: {{ report['checkType']|capitalize }}</p>
<p>Source: {{ report['source']|capitalize }}</p>
<p>Service: {{ report['host'] }}</p>

{% if report['flag'] == 'WARNING' %}
    <p>Error Message: <span class="label label-warning">{{ report['flag'] }}</span></p>
{% elseif report['flag'] == 'CRITICAL' %}
    <p>Current Status: <span class="label label-important">{{ report['flag'] }}</span></p>
{% elseif report['flag'] == 'RESPONDING' %}
    <p>Error Message: <span class="label label-success">{{ report['flag'] }}</span></p>
{% endif %}

<p>Error message: {{ report['errorMessage'] }}</p>

<br />

<h6>Status history:</h6>
<table class="table table-condensed">
    <tr>
        <td><strong>Date</strong></td>
        <td><strong>Status</strong></td>
    </tr>
{% for update in report["statusHistory"] %}

    {% if update["status"] == "CRITICAL" %}
        <tr class="error">
    {% elseif update["status"] == "WARNING" %}
        <tr class="warning">
    {% else %}
        <tr class="success">
    {% endif %}

    <td>{{ update["updateTimestamp"]|date("d.M y H:i:s") }}</td>
    <td>{{ update["status"] }}</td>
    </tr>
{% endfor %}
</table>