<p>Report ID: {{ report['id'] }}</p>
<p>Created: {{ report['createdTimestamp'] }}</p>
<p>Last updated: {{ report['lastUpdatedTimestamp'] }}</p>
<p>Check type: {{ report['checkType'] }}</p>
<p>Source: {{ report['source'] }}</p>
<p>Service: {{ report['host'] }}</p>
<p>Last status: {{ report['flag'] }}</p>
<p>Error message: {{ report['errorMessage'] }}</p>